.container {
  background: #FFC0CB
}

.page {
  background: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
